apiVersion: v1
data:
  opencode.json: |-
    {
        "$schema": "https://opencode.ai/config.json",
        "autoupdate": false,
        "instructions": [
            "AGENTS.md",
            "docs/guidelines.md"
        ],
        "enabled_providers": [
            "RH-MAAS",
            "LLAMASTACK",
            "opencode-zen",
            "openrouter"
        ],
        "mcp": {
            "remote-skills": {
                "type": "remote",
                "url": "{env:CLAUDE_SKILLS_MCP_URL}",
                "enabled": true,
            },
            "context7": {
                "type": "remote",
                "url": "https://mcp.context7.com/mcp",
                "headers": {
                    "CONTEXT7_API_KEY": "{env:CONTEXT7_API_KEY}"
                }
            },
            "gh_grep": {
                "type": "remote",
                "url": "https://mcp.grep.app"
            },
            "openshift-mcp": {
                "type": "remote",
                "url": "http://kubernetes-mcp-server.mcptest.svc.cluster.local:8080/mcp"
            }
        },
        "keybinds": {
            "command_list": "ctrl+l"
        },
        "provider": {
            "openrouter": {
                "options": {
                    "OPENROUTER_API_KEY": "{env:OPENROUTER_API_KEY}", 
                },
                "models": {
                    "moonshotai/kimi-k2": {
                        "options": {
                            "provider": {
                                "order": [
                                    "baseten"
                                ],
                                "allow_fallbacks": false
                            }
                        }
                    }
                }
            },
            "opencode-zen": {
                "npm": "@ai-sdk/openai-compatible",
                "name": "opencode-zen",
                "options": {
                    "baseURL": "https://opencode.ai/zen/v1",
                },
                "models": {
                    "big-pickle": {
                        "name": "big-pickle"
                    },
                    "glm-4.7-free": {
                        "name": "glm-4.7-free"
                    },
                    "grok-code": {
                        "name": "grok-code"
                    }
                }
            },
            "RH-MAAS": {
                "npm": "@ai-sdk/openai-compatible",
                "name": "RH-MAAS-Llama-3.2-3B-Instruct",
                "options": {
                    "baseURL": "{env:RH_MAAS_URL}",
                    "apiKey": "{env:RH_MAAS_Llama_3_2_3B_Instruct_API_KEY}",
                },
                "models": {
                    "llama-3-2-3b": {
                        "name": "llama-3-2-3b",
                        "limit": {
                            "context": 120000,
                            "output": 120000
                        }
                    }
                }
            },
            "LLAMASTACK": {
                "npm": "@ai-sdk/openai-compatible",
                "name": "llama-stack",
                "options": {
                    "baseURL": "{env:OPENCODE_LLS_URL}",
                },
                "models": {
                    "llama-4-scout-17b-16e-w4a16": {
                        "name": "llama-4-scout-17b-16e-w4a16",
                        "limit": {
                            "context": 120000,
                            "output": 120000
                        }
                    },
                    "microsoft/phi-4": {
                        "name": "microsoft/phi-4",
                        "limit": {
                            "context": 120000,
                            "output": 120000
                        }
                    }
                }
            }
        }
    }
kind: ConfigMap
metadata:
  annotations:
    controller.devfile.io/mount-path: /home/user/opencode/config-map
  labels:
    controller.devfile.io/mount-to-devworkspace: "true"
    controller.devfile.io/watch-configmap: "true"
  name: opencode-config